{{> navbar_inside}}

<div class="card shadow m-4 text-light">
  <div class="card-header fs-3 text" style="background-color: DarkOliveGreen;" id="title">Editar Publicacion #ID XXXX</div>
  <div class="card-body">

    <form id="form-edit" class="row g-3 text-dark">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre Producto</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="product" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Precio</span>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon2" id="price" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Foto</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon3" id="photo">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon4">Cantidad</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon4" id="initialStock" required>
        </div>
    </div>
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text">Descripcion</span>
            <textarea class="form-control" aria-label="With textarea" id="description" required></textarea>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn bg-dark bg-gradient text-white bg-opacity-75 w-100">Editar</button>
    </div>
    </form>
        
  </div>
</div>

<script>
    async function init() { 
        
        const form = document.querySelector('#form-edit');
        const title = document.querySelector('#title');
        const product = document.querySelector('#product');
        const price = document.querySelector('#price');
        const photo = document.querySelector('#photo');
        const initialStock = document.querySelector('#initialStock');
        const description = document.querySelector('#description');

        const token = localStorage.getItem('token');

        const urlSearchParams = new URLSearchParams(window.location.search);
        const postID = urlSearchParams.get("id");

        title.innerHTML = `Editar Publicacion #ID ${postID}`;

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            let response;
            try {
            response = await axios.put(`/api/posts/editpost/${postID}`, {
                product: product.value,
                price : price.value ,
                photo: photo.value,
                initialStock: initialStock.value,
                availableStock: initialStock.value,
                description: description.value
                },
                { 
                headers: { 
                    authorization: token 
                    } 
                }
            );
            toastr.success("Producto actualizado con exito!");
            form.reset();
            } catch(error) {
                toastr.error(error.response.data.error, "Error de actualizacion:");
                console.error(error.response.data.error);
                return
            };
        });
    };

    init();
</script>