{{> navbar_inside}}

<div class="card shadow m-4 text-light">
  <div class="card-header fs-3 text" style="background-color: DarkOliveGreen;">Mis Publicaciones</div>
  <div class="card-body">
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#id Publicacion</th>
            <th scope="col">Foto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad Inicial</th>
            <th scope="col">Cantidad Disponible</th>
            <th scope="col">Cantidad Reservada</th>
            <th scope="col">Precio</th>
            <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">15000</th>
                <td class="w-25">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>Bicicleta Usada</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>$55000</td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
            <tr>
                <th scope="row">15000</th>
                <td class="w-25">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>Bicicleta Usada</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>$55000</td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
        </tbody>
        </table>    
    </div>    
  </div>
</div>


<script>
    //TODO Lista con filtro
</script>