{{> navbar_inside}}

<div class="card shadow m-4 text-light">
  <div class="card-header fs-3 text" style="background-color: DarkOliveGreen;">Mis Publicaciones</div>
  <div class="card-body">
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#id Publicacion</th>
            <th scope="col">Foto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad Inicial</th>
            <th scope="col">Cantidad Disponible</th>
            <th scope="col">Cantidad Reservada</th>
            <th scope="col">Precio</th>
            <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
        </table>    
    </div>    
  </div>
</div>


<script>
    const table = document.querySelector('#tbody');
    const token = localStorage.getItem('token');

    async function getProducts () {
      try {
        const dataToken = await axios.get('/api/users/my', { 
        headers: { 
            authorization: token 
            } 
        });

        console.log(dataToken.data) 
        const sellerID = dataToken.data.id;

        const { data } = await axios.get('/api/posts/myPosts', 
       {
            params: {
            sellerID
            }
        });
        let contentStr = '';
        for (let product of data) {
          let img;
          if(product.photo) {
              img = '/fotos/' + product.photo
          } else {
              img = '/fotos/default.png'
          }
          contentStr += `
            <tr>
                <th scope="row">${product.postID}</th>
                <td class="w-25">
                    <img src="${img}" class="img-fluid img-thumbnail" alt="${product.product}">
                </td>
                <td>${product.product}</td>
                <td>${product.initialStock}</td>
                <td>${product.availableStock}</td>
                <td>Cantidad reservada</td>
                <td>${product.price}</td>
                <td><a href="#" class="btn bg-primary text-light" name="${product.postID}" onclick="edit()">Editar</a></td>
            </tr>
          `
        }
        table.innerHTML = contentStr;
      } catch (error) {
        console.log(error.response.data.error)
        toastr.error(error.response.data.error, "Error de inicio session:");
      }
    }

    async function edit(){
      let id = event.target.name;
      window.location.href = `/editpost/search?id=${id}`
    }

    getProducts();
</script>