{{> navbar_inside}}

<div class="card shadow m-4 text-light">
  <div class="card-header fs-3 text" style="background-color: DarkOliveGreen;">Publicar</div>
  <div class="card-body">

    <form class="row g-3 text-dark">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre Producto</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Precio</span>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Foto</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Cantidad</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text">Descripcion</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn bg-dark bg-gradient text-white bg-opacity-75 w-100">Publicar</button>
    </div>
    </form>
        
  </div>
</div>

<script>
    //TODO
</script>