{{> navbar_inside}}

<div class="card shadow m-4 text-light">
  <div class="card-header fs-3 text" style="background-color: DarkOliveGreen;">Nombre producto</div>
  <div class="card-body">

    <form class="row g-3 text-dark">
    <div class="col-md-6">
        <img src="https://s2.ppllstatics.com/diariosur/www/multimedia/201803/08/media/cortadas/122427314--624x492.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-6 d-flex align-items-center">
        <div class="border rounded p-4 w-100">
            <p class="fs-5">Nombre producto</p>
            <p class="fs-5">$3200</p>
            <p class="fs-5">Stock Disponible: </p>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="input6" class="col-form-label">Cantidad</label>
                </div>
                <div class="col-auto">
                    <input type="number" id="input6" class="form-control">
                </div>
            </div>
            <button type="button" class="btn bg-dark bg-gradient text-white bg-opacity-75 w-100 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Reservar</button>
        </div>

    </div>
    <div class="col-12">
        <h5>Descripción</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore minima fuga, delectus sint perspiciatis nam tempora ipsa eius cumque aperiam quos tempore saepe accusamus repellat, distinctio dolores ab. Vel, et?</p>
    </div>
    </form>
        
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar Reserva</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro que quieres confirmar tu reserva?</p>
        <p>Producto: xxxx</p>
        <p>Cantidad a reservar: xx</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<script>
    //TODO mostrar producto y personalizar modal
</script>