{{> navbar_inside}}
<h1 class="text-center mt-4">Lista de productos</h1>

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-5 p-5">

  <div class="col">
    <div class="card text-center h-100 shadow">
    <img src="https://s2.ppllstatics.com/diariosur/www/multimedia/201803/08/media/cortadas/122427314--624x492.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h6 class="card-title">$990</h6>
        <a href="#" class="btn bg-primary bg-gradient text-white bg-opacity-75">Go somewhere</a>
    </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center h-100 shadow">
    <img src="https://s2.ppllstatics.com/diariosur/www/multimedia/201803/08/media/cortadas/122427314--624x492.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h6 class="card-title">$990</h6>
        <a href="#" class="btn bg-primary bg-gradient text-white bg-opacity-75">Go somewhere</a>
    </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center h-100 shadow">
    <img src="https://s2.ppllstatics.com/diariosur/www/multimedia/201803/08/media/cortadas/122427314--624x492.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h6 class="card-title">$990</h6>
        <a href="#" class="btn bg-primary bg-gradient text-white bg-opacity-75">Go somewhere</a>
    </div>
    </div>
  </div>

    <div class="col">
    <div class="card text-center h-100 shadow">
    <img src="https://s2.ppllstatics.com/diariosur/www/multimedia/201803/08/media/cortadas/122427314--624x492.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h6 class="card-title">$990</h6>
        <a href="#" class="btn bg-primary bg-gradient text-white bg-opacity-75">Go somewhere</a>
    </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center h-100 shadow">
    <img src="https://s2.ppllstatics.com/diariosur/www/multimedia/201803/08/media/cortadas/122427314--624x492.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h6 class="card-title">$990</h6>
        <a href="#" class="btn bg-primary bg-gradient text-white bg-opacity-75">Go somewhere</a>
    </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center h-100 shadow">
    <img src="https://s2.ppllstatics.com/diariosur/www/multimedia/201803/08/media/cortadas/122427314--624x492.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h6 class="card-title">$990</h6>
        <a href="#" class="btn bg-primary bg-gradient text-white bg-opacity-75">Go somewhere</a>
    </div>
    </div>
  </div>
  
</div>

<script>
    //TODO: completar cards
</script>