{{> navbar_outside}}

<div class="card shadow mt-5 mx-auto text-light text-center" style="width: 18rem;">
  <div class="card-header fs-3" style="background-color: DarkOliveGreen;">Resgistrate</div>
  <div class="card-body">
    <form id="form-signup" class="text-dark">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn bg-dark bg-gradient text-white bg-opacity-75 w-100">Registrarse</button>
    </form>
  </div>
</div>

<script>
      //1. Obtener las variables
  const form = document.querySelector('#form-signup');
  const name = document.querySelector('#name');
  const email = document.querySelector('#email');
  const password = document.querySelector('#password');
//  const pass_confirm = document.querySelector('#pass_confirm');

  //2. Reaccionar al envio el formulario
  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    //2. Mandamos la solicitud al servidor
    let response;
    try {
      response = await axios.post('/api/users/signup', {
        name: name.value,
        email : email.value ,
        password: password.value
      })
    } catch(error) {
      console.log(error);
      toastr.error(error.response.data.error, "Error de registro:");
      return
    };

    //3. Guardamos el token que nos retorna el servidor en el localStorage
    localStorage.setItem('token', response.data);

    //4. Redirijo al usuario a la página principal
    window.location.href = '/session'
  })
</script>