{{> navbar_outside}}

<div class="card shadow mt-5 mx-auto text-light text-center" style="width: 18rem;">
  <div class="card-header fs-3" style="background-color: DarkOliveGreen;">Resgistrate</div>
  <div class="card-body">
    <form class="text-dark">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
        <button type="submit" class="btn bg-dark bg-gradient text-white bg-opacity-75 w-100">Registrarse</button>
    </form>
  </div>
</div>

<script>
    //TODO: Resgistro sign up
</script>